
body {
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    background-color: rgb(235, 235, 229);
    font-weight:100;
}

header {
    font-size: 12vh;
}

#secondary {
    font-size: 4vh;
}
#main-body {
    width: 100vw;
    display: flex;
    justify-content:center;
    gap:10vw;
    flex-wrap: wrap;
}

.game-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 398px;
    height: 398px;
    gap:2px;
    border-style: solid;
    border-width: 2px;
    padding: 1px;
}

/* Color coding */
.unit {

    width: 36px;
    height: 36px;
    border-style: solid;
    border-width: 1px;
    background-color: #bce2f1 ;
    border-radius: 3px;
    border-color: #aaaaaa;
    /* 20 lines, and 9 gaps*/
}

.ship {
    background-color: rgba(153, 151, 147, 0.795);
    
    border-color: black;
}

.miss {
    /* background-image: url('./images/splash.png');
    background-size: contain; */
    background-color: rgb(255, 255, 255);
    display: flex; 
    justify-content: center;
    text-align: center;
    align-items: center;

}

.miss p {
    border-radius: 100%;
    background-color: black;
    height: 5px;
    width:5px;
}

.hit {
    /* background-image: url('./images/flame.png');
    background-size: contain; */
    background-color: rgb(240, 124, 124);
    display: flex; 
    justify-content: center;
    text-align: center;
    align-items: center;
}




/*Instruction Screen*/

.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content {
    background-color: #92e2ec;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 200px;
    border-radius: 10px;
   
  }

   /* The Close Button */
   .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

/* General*/ 
button {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 4vh;
    width: 5em;
}

#start-button {
    margin-bottom: 20px;
}

#help-button {
    font-size: 2vh;
}