
body {
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    background-color: rgb(235, 235, 229);
    font-weight:100;
}

header {
    font-size: 12vh;
}

#secondary {
    font-size: 4vh;
    border-style: solid;
    border-width: 1px;
    padding:10px;
    background-color: #fdffa9;
}
#main-body {
    width: 100vw;
    display: flex;
    justify-content:center;
    gap:10vw;
    flex-wrap: wrap;
}

.game-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 398px;
    height: 398px;
    gap:2px;
    border-style: solid;
    border-width: 2px;
    padding: 1px;
}

/* Color coding */
.selected {
    opacity:.5;
}

.player.ship:hover {
    opacity: .5;
}

.computer:hover {
    opacity:.5;
}

.unit {

    width: 36px;
    height: 36px;
    border-style: solid;
    border-width: 1px;
    background-color: #bce2f1 ;
    border-radius: 3px;
    border-color: #aaaaaa;
    /* 20 lines, and 9 gaps*/
}

.ship {
    background-color: rgba(153, 151, 147, 0.795);
    
    border-color: black;
}

.computer {
    background-color: #bce2f1 ;
    border-color: #aaaaaa;
}  

.miss {
    /* background-image: url('./images/splash.png');
    background-size: contain; */
    background-color: rgb(255, 255, 255);
    display: flex; 
    justify-content: center;
    text-align: center;
    align-items: center;

}

.miss p {
    border-radius: 100%;
    background-color: black;
    height: 5px;
    width:5px;
}

.hit {
    /* background-image: url('./images/flame.png');
    background-size: contain; */
    background-color: rgb(240, 124, 124);
    display: flex; 
    justify-content: center;
    text-align: center;
    align-items: center;
}

.hit:hover {
    opacity:1;
}

.miss:hover{
    opacity:1;
}

.highlighted {
    border-color: red;
}






/*Instruction Screen*/
#instructions-title {
    text-align: center;
    font-size: 2vw;
}
.instructions-header {
    font-size: 1vw;
    font-family: "Raleway", sans-serif;

}

/* Game Over Screen*/
#game-over-title{
    text-align: center;
    font-size: 4vw;
}

#game-over-description {
    font-size: 2vw;
    text-align: center;
}

/* .description {
} */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content {
    background-color: #f4f5f5;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30vw;
    height: 70vh;
    border-radius: 10px;
    overflow-y:auto;
   
  }

   /* The Close Button */
   .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

/* General*/ 
button {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 3vh;
    width: 5em;
}

#start-button {
    margin-bottom: 20px;
}

#help-button {
    font-size: 2vh;
}

.board-name {
    font-size: 4vh;
}

/*Indicator*/
.indicator {
    height:100px;
    width:100px;
    display: flex;
    /* background-color: #bce2f1; */
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-radius: 1px;
    border-width: 0px;

    gap:5px;
}

.indicator-row {
    display:flex;
    gap:2px;
}

.indicator-unit {
    height:10px;
    width:10px;
    background-color: #839b97;
}

#player-indicator {
    margin-right: -9vw;
}

#computer-indicator {
    margin-left: -9vw;
}
/* 
.divider {
    border-left: 5px none black;
    height: 45vh;
} */
.modal-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
}

footer {
    background-color: none;
    height:5em;
    display:flex;
    align-items: center;
    font-family: Montserrat, Helvetica, sans-serif;
}